In [1]:
import pandas as pd
import numpy as np
from dash import Dash, dcc, Output, Input
import dash_bootstrap_components as dbc
import plotly.express as px

In [2]:
df = pd.read_csv("premium_bottled_water.csv")

In [3]:
segment = df.columns
print(segment)

Index(['Continent', 'Country', 'Segment', 'Types', 'CAGR', 'Attribute',
       'Value'],
      dtype='object')

In [4]:
df["Segment"].unique()[0]

'Product'

In [5]:
df[df["Segment"] == df["Segment"].unique()[0]]

,Continent,Country,Segment,Types,CAGR,Attribute,Value
0,North America,United States,Product,Spring Water,0.07,2017,1890.543784
1,North America,United States,Product,Spring Water,0.07,2018,2005.587049
2,North America,United States,Product,Spring Water,0.07,2019,2132.083237
3,North America,United States,Product,Spring Water,0.07,2020,1538.858924
4,North America,United States,Product,Spring Water,0.07,2021,1632.054022
...,...,...,...,...,...,...,...
1283,Middle East & Africa,Rest of Middle East & Africa,Product,Others,0.07,2026,166.186356
1284,Middle East & Africa,Rest of Middle East & Africa,Product,Others,0.07,2027,178.758469
1285,Middle East & Africa,Rest of Middle East & Africa,Product,Others,0.07,2028,192.639077
1286,Middle East & Africa,Rest of Middle East & Africa,Product,Others,0.07,2029,207.982677
1287,Middle East & Africa,Rest of Middle East & Africa,Product,Others,0.07,2030,224.964227

In [6]:
segment = df["Segment"].unique()[0]
df_segment = df[df["Segment"] == segment]
df_seg_year = df_segment.groupby("Attribute", as_index=False)["Value"].sum()

In [7]:
df_segment.head(50)

,Continent,Country,Segment,Types,CAGR,Attribute,Value
0,North America,United States,Product,Spring Water,0.07,2017,1890.543784
1,North America,United States,Product,Spring Water,0.07,2018,2005.587049
2,North America,United States,Product,Spring Water,0.07,2019,2132.083237
3,North America,United States,Product,Spring Water,0.07,2020,1538.858924
4,North America,United States,Product,Spring Water,0.07,2021,1632.054022
5,North America,United States,Product,Spring Water,0.07,2022,1735.753075
6,North America,United States,Product,Spring Water,0.07,2023,1849.469972
7,North America,United States,Product,Spring Water,0.07,2024,1974.290650
8,North America,United States,Product,Spring Water,0.07,2025,2111.435867
9,North America,United States,Product,Spring Water,0.07,2026,2262.279429
10,North America,United States,Product,Spring Water,0.07,2027,2428.369065
11,North America,United States,Product,Spring Water,0.07,2028,2611.450411
12,North America,United States,Product,Spring Water,0.07,2029,2813.494551
13,North America,United States,Product,Spring Water,0.07,2030,3036.729708
14,North America,United States,Product,Sparkling Water,0.08,2017,1191.143146
15,North America,United States,Product,Sparkling Water,0.08,2018,1273.810745
16,North America,United States,Product,Sparkling Water,0.08,2019,1365.032092
17,North America,United States,Product,Sparkling Water,0.08,2020,993.120920
18,North America,United States,Product,Sparkling Water,0.08,2021,1061.675829
19,North America,United States,Product,Sparkling Water,0.08,2022,1138.122575
20,North America,United States,Product,Sparkling Water,0.08,2023,1222.311352
21,North America,United States,Product,Sparkling Water,0.08,2024,1315.131075
22,North America,United States,Product,Sparkling Water,0.08,2025,1417.585657
23,North America,United States,Product,Sparkling Water,0.08,2026,1530.810207
24,North America,United States,Product,Sparkling Water,0.08,2027,1656.089678
25,North America,United States,Product,Sparkling Water,0.08,2028,1794.880380
26,North America,United States,Product,Sparkling Water,0.08,2029,1948.834808
27,North America,United States,Product,Sparkling Water,0.08,2030,2119.830347
28,North America,United States,Product,Mineral Water,0.07,2017,2596.387963
29,North America,United States,Product,Mineral Water,0.07,2018,2758.122013
30,North America,United States,Product,Mineral Water,0.07,2019,2936.076118
31,North America,United States,Product,Mineral Water,0.07,2020,2122.048267
32,North America,United States,Product,Mineral Water,0.07,2021,2253.649568
33,North America,United States,Product,Mineral Water,0.07,2022,2400.144156
34,North America,United States,Product,Mineral Water,0.07,2023,2560.921872
35,North America,United States,Product,Mineral Water,0.07,2024,2737.549247
36,North America,United States,Product,Mineral Water,0.07,2025,2931.789005
37,North America,United States,Product,Mineral Water,0.07,2026,3145.626819
38,North America,United States,Product,Mineral Water,0.07,2027,3381.302005
39,North America,United States,Product,Mineral Water,0.07,2028,3641.342806
40,North America,United States,Product,Mineral Water,0.07,2029,3928.606960
41,North America,United States,Product,Mineral Water,0.07,2030,4246.328434
42,North America,United States,Product,Others,0.08,2017,481.192788
43,North America,United States,Product,Others,0.08,2018,512.542365
44,North America,United States,Product,Others,0.08,2019,547.078671
45,North America,United States,Product,Others,0.08,2020,396.463599
46,North America,United States,Product,Others,0.08,2021,422.181747
47,North America,United States,Product,Others,0.08,2022,450.832087
48,North America,United States,Product,Others,0.08,2023,482.322665
49,North America,United States,Product,Others,0.08,2024,516.971451

In [8]:
df_seg_year

    Attribute         Value
0        2017  21435.493261
1        2018  22683.061651
2        2019  24054.148091
3        2020  17318.986626
4        2021  18323.487849
5        2022  19441.220610
6        2023  20666.017507
7        2024  22009.308645
8        2025  23483.932323
9        2026  25104.323655
10       2027  26886.730635
11       2028  28849.461972
12       2029  31013.171620
13       2030  33401.185833

In [9]:
year = df["Attribute"].unique()[0]
df_year = df[df["Attribute"] == year]
df_seg_cagr = df_year.groupby("Segment", as_index=False)["CAGR"].mean()
df_seg_cagr["CAGR"] = df_seg_cagr["CAGR"].map(lambda x: "{:.2%}".format(x))
df_seg_cagr

                Segment   CAGR
0  Distribution Channel  7.31%
1               Product  7.12%

In [10]:
def ScatterGraph(df):
    # year = df["Attribute"].unique()[0]
    # df_year = df[df["Attribute"] == df["Attribute"].unique()[0]]
    df_seg_cagr = (
        df[df["Attribute"] == df["Attribute"].unique()[0]]
        .groupby("Segment", as_index=False)["CAGR"]
        .mean()
    )
    df_seg_cagr["CAGR"] = df_seg_cagr["CAGR"].map(lambda x: "{:.2%}".format(x))
    colors = [
        "#1f77b4",
        "#ff7f0e",
        "#2ca02c",
        "#d62728",
        "#9467bd",
        "#8c564b",
        "#e377c2",
        "#7f7f7f",
        "#bcbd22",
        "#17becf",
    ]
    fig = px.scatter(
        df_seg_cagr,
        x="Segment",
        y="CAGR",
        color="Segment",
        color_discrete_sequence=colors,
        opacity=0.8,
    )
    fig.update_traces(marker=dict(line=dict(color="black", width=1)))
    fig.update_layout(showlegend=True)

    annotations = []
    for index, row in df_seg_cagr.iterrows():
        annotations.append(
            dict(
                x=row["Segment"],
                y=row["CAGR"],
                xref="x",
                yref="y",
                text=row["CAGR"],
                font=dict(family="Arial", size=12, color="black"),
                showarrow=True,
                arrowhead=0,
                ax=0,
                ay=-40,
            )
        )

    fig.update_layout(annotations=annotations)
    return fig.show()

In [11]:
df.head()

,Continent,Country,Segment,Types,CAGR,Attribute,Value
0,North America,United States,Product,Spring Water,0.07,2017,1890.543784
1,North America,United States,Product,Spring Water,0.07,2018,2005.587049
2,North America,United States,Product,Spring Water,0.07,2019,2132.083237
3,North America,United States,Product,Spring Water,0.07,2020,1538.858924
4,North America,United States,Product,Spring Water,0.07,2021,1632.054022

In [12]:
table_df = df_segment[["Country", "Attribute", "Value"]]

In [13]:
table_df.head(5)

         Country  Attribute        Value
0  United States       2017  1890.543784
1  United States       2018  2005.587049
2  United States       2019  2132.083237
3  United States       2020  1538.858924
4  United States       2021  1632.054022

In [14]:
df_year_pivot = table_df.pivot_table(
    index="Country", columns="Attribute", values="Value", aggfunc="sum"
)

In [15]:
df_year_pivot

Attribute,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
Country,,,,,,,,,,,,,,
Brazil,1002.324607,1060.896717,1125.260279,810.349034,857.510567,909.979527,967.468222,1030.512366,1099.713582,1175.748216,1259.377437,1351.458816,1452.959615,1564.972063
China,1630.185817,1755.766706,1894.451089,1387.444098,1492.713293,1610.077445,1739.476880,1882.323499,2040.213358,2214.952823,2408.588724,2623.443134,2862.153564,3127.719429
France,1806.932852,1883.021022,1966.154534,1393.643885,1451.325624,1515.414692,1585.031683,1660.659870,1742.834362,1832.147897,1929.257347,2034.891030,2149.856923,2275.051910
Germany,1628.345735,1700.293257,1778.909394,1263.452704,1318.398010,1379.403095,1445.703482,1517.774038,1596.141132,1681.388494,1774.163817,1875.186179,1985.254405,2105.256485
India,486.681684,524.929989,567.209880,416.007186,448.214418,484.149415,523.809861,567.637110,616.130568,669.855999,729.455110,795.656621,869.289067,951.295607
Rest of Asia Pacific,1252.361464,1348.178954,1453.959014,1064.319893,1144.513420,1233.897098,1332.411615,1441.124395,1561.241668,1694.128127,1841.329583,2004.599095,2185.927147,2387.576530
Rest of Central & South America,492.622419,517.466323,544.698952,389.279440,408.795140,430.492634,454.181566,480.059850,508.348684,539.295495,573.177312,610.304598,651.025636,695.731531
Rest of Europe,4270.191999,4470.667852,4689.747457,3339.649902,3494.090019,3665.418975,3851.729807,4054.405246,4274.979777,4515.157284,4776.830913,5062.105464,5373.322654,5713.089608
Rest of Middle East & Africa,1713.260424,1818.136981,1933.513018,1396.075708,1481.225590,1576.015075,1680.020695,1794.248018,1919.828261,2058.035373,2210.305640,2378.260211,2563.730995,2768.790482
Rest of North America,809.017963,858.672329,913.284239,659.504570,699.796996,744.638324,793.827219,847.837113,907.200422,972.516546,1044.461045,1123.796172,1211.382986,1308.195290
South Africa,184.300616,194.969348,206.690118,148.768497,157.343607,166.882437,177.330616,188.784716,201.353145,215.157727,230.335508,247.040828,265.447690,285.752496
United States,6159.267681,6550.062172,6980.270118,5050.491710,5369.561166,5724.851892,6115.025861,6543.942423,7015.947364,7535.939674,8109.448199,8742.719823,9442.820936,10217.754403

In [ ]:
# Import libraries
import pandas as pd
import plotly.express as px
import time
import streamlit as st


st.set_page_config(
    page_title="Dashboard Trial",
    page_icon="Active",
    layout="wide",
)

# Load the dataset
var = pd.read_excel("sample_1.xlsx", sheet_name="verti1")

# Define variables
country = var["Country"]
revenue = var["Revenue"]
year = var["Year"]
stype = var["Type"]
cagr = var["CAGR"]

# Filters and sidebar
st.sidebar.header("Filters")

CountryF = st.sidebar.multiselect("Country", options=country.unique())
YearF = st.sidebar.multiselect("Year", options=year.unique(), default=year.unique())
TypeF = st.sidebar.multiselect(
    "Segment", options=stype.unique(), default=stype.unique()
)

# st.selectbox can be used for single select segment (current data set has only single segment)

# new dataframe for which the filters are interactive.
var_selected = var[var["Country"].isin(CountryF) & var["Type"].isin(TypeF)]
var_selected = var_selected.reset_index(drop=True)  # Reset the index
var_selected2 = var[
    var["Country"].isin(CountryF) & var["Year"].isin(YearF) & var["Type"].isin(TypeF)
]


# Main page designing

st.title(":bar_chart: Dashboard")
st.markdown("##")

# Card
begin_year = 2022
end_year = 2030

revenue_begin = int(var_selected[var_selected["Year"] == begin_year]["Revenue"].sum())
revenue_end = int(var_selected[var_selected["Year"] == end_year]["Revenue"].sum())

if pd.isna(revenue_begin) or revenue_begin == 0:
    revenue_begin = var[var["Year"] == begin_year]["Revenue"].sum()

if pd.isna(revenue_end) or revenue_end == 0:
    revenue_end = var[var["Year"] == end_year]["Revenue"].sum()

cagrformat = (
    pow(revenue_end / revenue_begin, 1 / (end_year - begin_year)) - 1
) * 100  # cagr calcultion
cagr22_30 = f"{cagrformat:.2f}"  # cagr formatting

# Card columns
left_column, middle_column, right_column = st.columns(3)

with left_column:
    st.subheader("Revenue in 2022")
    st.subheader(f"US $ {revenue_begin:,} Million")
with middle_column:
    st.subheader("CAGR (2023-2030):")
    st.subheader(f"{cagr22_30} %")
with right_column:
    st.subheader("Revenue in 2030:")
    st.subheader(f"US $ {revenue_end:,} Million")

st.markdown("---")

# graphs

# create a variable for no selection country/year/type default value
if var_selected2.empty:
    var_selected2 = var


# Stacked bar graph by year and revenue
fig1 = px.bar(var_selected2, x="Year", y="Revenue", color="Type", barmode="stack")
fig1.update_layout(
    title="Revenue by Year", xaxis_title="Year", yaxis_title="USD Million"
)
st.plotly_chart(fig1)

# Stacked bar graph by country and revenue
fig2 = px.histogram(
    var_selected2, x="Country", y="Revenue", color="Type", barmode="group"
)
fig2.update_layout(
    title="Cummulative Revenue by Type and Country",
    xaxis_title="Country",
    yaxis_title="USD Million",
)
st.plotly_chart(fig2)

In [17]:
data = pd.read_csv("premium_bottled_water.csv")
data_gdp = pd.read_csv("gdp_indicators.csv")

In [18]:
data.head(10)

,Continent,Country,Segment,Types,CAGR,Attribute,Value
0,North America,United States,Product,Spring Water,0.07,2017,1890.543784
1,North America,United States,Product,Spring Water,0.07,2018,2005.587049
2,North America,United States,Product,Spring Water,0.07,2019,2132.083237
3,North America,United States,Product,Spring Water,0.07,2020,1538.858924
4,North America,United States,Product,Spring Water,0.07,2021,1632.054022
5,North America,United States,Product,Spring Water,0.07,2022,1735.753075
6,North America,United States,Product,Spring Water,0.07,2023,1849.469972
7,North America,United States,Product,Spring Water,0.07,2024,1974.290650
8,North America,United States,Product,Spring Water,0.07,2025,2111.435867
9,North America,United States,Product,Spring Water,0.07,2026,2262.279429

In [19]:
data_gdp.head(10)

,Series Name,Series Code,Country Name,Country Code,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,Population growth (annual %),SP.POP.GROW,Afghanistan,AFG,2,3.6,2.9,3.7,4.1,3.5,3.7,3.1,2.6,2.9,2.9,2.9,3.1,2.9
1,Population growth (annual %),SP.POP.GROW,Albania,ALB,-0.8,-0.7,-0.5,-0.3,-0.2,-0.2,-0.2,-0.3,-0.2,-0.1,-0.2,-0.4,-0.6,-0.9
2,Population growth (annual %),SP.POP.GROW,Algeria,DZA,1.7,1.8,1.9,1.9,1.9,2,2,2,2,2,1.9,1.8,1.7,1.7
3,Population growth (annual %),SP.POP.GROW,American Samoa,ASM,-0.9,-0.9,-0.9,-1,-1.1,-1.3,-1.5,-1.6,-1.8,-2,-2.1,-2.3,-2.4,-2.5
4,Population growth (annual %),SP.POP.GROW,Andorra,AND,-2.7,-2.9,-3.2,-1.3,0.6,0.5,0.4,0.2,1.1,1.8,1.6,1.8,1.8,1.7
5,Population growth (annual %),SP.POP.GROW,Angola,AGO,3.7,3.7,3.7,3.8,3.8,3.7,3.7,3.6,3.6,3.6,3.5,3.4,3.3,3.2
6,Population growth (annual %),SP.POP.GROW,Antigua and Barbuda,ATG,1.5,1.5,1.4,1.2,1.1,0.9,0.8,0.8,0.7,0.6,0.6,0.5,0.6,0.6
7,Population growth (annual %),SP.POP.GROW,Argentina,ARG,1,1,0.3,1.2,1.1,1.1,1.1,1.1,1.1,1,1,1,1,0.9
8,Population growth (annual %),SP.POP.GROW,Armenia,ARM,-0.7,-0.6,-0.6,-0.6,-0.5,-0.4,-0.4,-0.4,-0.4,-0.5,-0.5,-0.6,-0.5,-0.5
9,Population growth (annual %),SP.POP.GROW,Aruba,ABW,1.2,1.2,1.1,0.9,0.8,0.7,0.7,0.6,0.6,0.5,0.5,0.5,0.1,0

In [20]:
data_gdp["Series Name"].unique()[0]

'Population growth (annual %)'

In [ ]:
me_country = data["Country"].unique()

In [ ]:
api_country = data_gdp["Country Name"].unique()

In [ ]:
intersection_country = np.intersect1d(api_country, me_country)

In [ ]:
intersection_country

array(['Brazil', 'China', 'France', 'Germany', 'India', 'South Africa',
       'United States'], dtype=object)

In [ ]:
intersection_country = np.intersect1d(
    data_gdp["Country Name"].unique(), data["Country"].unique()
)

In [ ]:
type(intersection_country)

numpy.ndarray

In [ ]:
data_gdp = data_gdp[data_gdp["Country Name"].isin(intersection_country)]

In [ ]:
data_gdp

,Series Name,Series Code,Country Name,Country Code,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
26,Population growth (annual %),SP.POP.GROW,Brazil,BRA,1,1,0.9,0.9,0.9,0.9,0.9,0.8,0.8,0.8,0.8,0.8,0.7,0.5
41,Population growth (annual %),SP.POP.GROW,China,CHN,0.5,0.5,0.5,0.5,0.7,0.7,0.6,0.6,0.6,0.6,0.5,0.4,0.2,0.1
67,Population growth (annual %),SP.POP.GROW,France,FRA,0.6,0.5,0.5,0.5,0.5,0.5,0.5,0.4,0.3,0.3,0.4,0.3,0.3,0.3
72,Population growth (annual %),SP.POP.GROW,Germany,DEU,-0.2,-0.3,-0.2,-1.9,0.2,0.3,0.4,0.9,0.8,0.4,0.3,0.2,0.1,0
88,Population growth (annual %),SP.POP.GROW,India,IND,1.4,1.4,1.4,1.4,1.3,1.3,1.2,1.2,1.2,1.2,1.1,1,1,0.8
176,Population growth (annual %),SP.POP.GROW,South Africa,ZAF,1.1,1.2,1.2,1.3,1.3,1.4,1.6,2.1,1,0.4,1.2,1.3,1.2,1
206,Population growth (annual %),SP.POP.GROW,United States,USA,0.9,0.9,0.8,0.7,0.7,0.7,0.7,0.7,0.7,0.6,0.5,0.5,1,0.1
243,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Brazil,BRA,5.1,-0.1,7.5,4,1.9,3,0.5,-3.5,-3.3,1.3,1.8,1.2,-3.9,4.6
258,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,China,CHN,9.7,9.4,10.6,9.6,7.9,7.8,7.4,7,6.8,6.9,6.7,6,2.2,8.1
284,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,France,FRA,0.3,-2.9,1.9,2.2,0.3,0.6,1,1.1,1.1,2.3,1.9,1.8,-7.8,6.8
289,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Germany,DEU,1,-5.7,4.2,3.9,0.4,0.4,2.2,1.5,2.2,2.7,1,1.1,-3.7,2.6
305,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,India,IND,3.1,7.9,8.5,5.2,5.5,6.4,7.4,8,8.3,6.8,6.5,3.7,-6.6,8.7
393,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,South Africa,ZAF,3.2,-1.5,3,3.2,2.4,2.5,1.4,1.3,0.7,1.2,1.5,0.3,-6.3,4.9
423,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,United States,USA,0.1,-2.6,2.7,1.5,2.3,1.8,2.3,2.7,1.7,2.2,2.9,2.3,-2.8,5.9
460,GDP per capita (current US$),NY.GDP.PCAP.CD,Brazil,BRA,8801.6,8570,11249.5,13200.8,12327.3,12258.5,12071.2,8783.2,8680.8,9896.7,9121.1,8845.3,6794.5,7507.2
475,GDP per capita (current US$),NY.GDP.PCAP.CD,China,CHN,3468.3,3832.2,4550.5,5614.4,6300.6,7020.3,7636.1,8016.4,8094.4,8817,9905.3,10143.8,10408.7,12556.3
501,GDP per capita (current US$),NY.GDP.PCAP.CD,France,FRA,45516,41737.8,40676.1,43846.5,40870.9,42602.7,43068.5,36652.9,37062.5,38781,41557.9,40494.9,39055.3,43659
506,GDP per capita (current US$),NY.GDP.PCAP.CD,Germany,DEU,45612.7,41650.4,41572.5,46705.9,43855.9,46298.9,48023.9,41103.3,42136.1,44652.6,47939.3,46793.7,46772.8,51203.6
522,GDP per capita (current US$),NY.GDP.PCAP.CD,India,IND,993.5,1096.6,1350.6,1449.6,1434,1438.1,1559.9,1590.2,1714.3,1958,1974.4,2047.2,1910.4,2256.6
610,GDP per capita (current US$),NY.GDP.PCAP.CD,South Africa,ZAF,6251.9,6444.2,8059.6,8737.1,8173.9,7441.2,6965.1,6204.9,5735.1,6734.5,7048.5,6688.8,5741.6,7055
640,GDP per capita (current US$),NY.GDP.PCAP.CD,United States,USA,48570,47194.9,48650.6,50066,51784.4,53291.1,55123.8,56762.7,57866.7,59907.8,62823.3,65120.4,63530.6,70248.6

In [ ]:
data_gdp.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026',
       '2027', '2028', '2029', '2030'],
      dtype='object')

In [ ]:
table_gdp = data_gdp[
    [
        "Series Name",
        "Country Name",
        "2017",
        "2018",
        "2019",
        "2020",
        "2021",
        "2022",
        "2023",
        "2024",
        "2025",
        "2026",
        "2027",
        "2028",
        "2029",
        "2030",
    ]
]

In [ ]:
table_gdp

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
fig = go.Figure(
    data=[
        go.Table(
            header=dict(
                values=list(table_gdp.columns), fill_color="paleturquoise", align="left"
            ),
            cells=dict(
                values=[table_gdp[col] for col in table_gdp.columns],
                fill_color="lavender",
                align="left",
            ),
        )
    ]
)
fig.show()